aiohttp==3.7.3
amqp==5.0.2
anyjson==0.3.3
argon2-cffi==20.1.0
asgiref==3.3.1
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==20.3.0
billiard==3.6.3.0
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
coreschema==0.0.4
cryptography==3.3.2
cssselect==1.1.0
cssutils==1.0.2
Django==3.1.4
django-appconf==1.0.4
django-auditlog==0.4.7
django-cryptography==1.0
django-encrypted-model-fields==0.5.8
django-extensions==3.1.0
django-filter==2.4.0
django-jsonfield==1.4.1
django-premailer==0.2.0
django-rest-auth==0.9.5
djangorestframework==3.12.2
geoip2==4.1.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.1.1
itypes==1.2.0
Jinja2==2.11.3
kombu==5.0.2
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
maxminddb==2.0.3
more-itertools==8.6.0
multidict==5.1.0
premailer==3.0.0
psycopg2==2.8.6
pycparser==2.20
pymailq==0.9.0
pyotp==2.4.1
python-crontab==2.5.1
python-dateutil==2.6.0
pytz==2020.4
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
vine==5.0.0
yarl==1.6.3
zipp==3.4.0
