aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
cssselect==1.2.0
cssutils==2.7.1
distro==1.8.0
dj-rest-auth==4.0.1
Django==4.2.4
django-appconf==1.0.5
django-cors-headers==4.2.0
django-cryptography==1.1
django-extensions==3.2.3
django-trench==0.3.1
djangorestframework==3.14.0
Faker==19.3.0
frozenlist==1.4.0
geoip2==4.7.0
gunicorn==21.2.0
idna==3.4
invoke==2.2.0
lxml==4.9.3
maxminddb==2.4.0
multidict==6.0.4
packaging==23.1
premailer==3.10.0
psycopg==3.1.10
pycparser==2.21
PyJWT==2.8.0
pymailq==0.9.0
pyotp==2.9.0
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
smsapi-client==2.7.0
sqlparse==0.4.4
twilio==8.5.0
typing_extensions==4.7.1
urllib3==2.0.4
yarl==1.9.2
yubico-client==1.13.0
