aiohttp==3.7.4.post0
argon2-cffi==21.1.0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
coreschema==0.0.4
cryptography==35.0.0
cssselect==1.1.0
cssutils==2.3.0
distro==1.6.0
Django==3.2.8
django-appconf==1.0.5
django-cors-headers==3.10.0
django-cryptography==1.0
django-extensions==3.1.3
django-premailer==0.2.0
django-rest-auth==0.9.5
djangorestframework==3.12.4
geoip2==4.4.0
gunicorn==20.1.0
idna==3.3
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
maxminddb==2.2.0
multidict==5.2.0
premailer==3.0.0
psycopg2==2.9.1
pycparser==2.20
pymailq==0.9.0
pyotp==2.6.0
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.7.0
