{% load static %}
{% load premailer %}
{% load i18n %}
{% premailer "https://mailcleaner.khansen-it.dk" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="h-full m-0 break-words font-sans bg-grey-lighter w-full">
    <style>{{ styles }}</style>
    <table class="w-full px-8" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <table class="w-full" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="p-6 text-center">
                            <h1 class="font-bold no-underline text-grey-dark">
                                {{ brand_name }} <span class="font-normal">-</span> <span class="text-lg text-grey">{{ brand_tagline }}</span>
                            </h1>
                        </td>
                    </tr>

                    <!-- Email Body -->
                    <tr>
                        <td class="border-t border-b" width="100%" cellpadding="0" cellspacing="0">
                            <table class="bg-white shadow-lg" align="center" width="100%" cellpadding="0" cellspacing="0">
                                <!-- Body content -->
                                <tr>
                                    <td class="p-10">
                                        {% block content %}{% endblock %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table class="text-center mx-auto p-6 text-grey-dark" align="center" width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center">
                                        {{ brand_name }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{% endpremailer %}