[Unit]
Description=MailGuardian gunicorn daemon
Requires=mailguardian.socket
After=network.target

[Service]
User=mailguardian
Group=mtagroup
WorkingDirectory=/home/mailguardian/mailguardian/src
ExecStart=/home/mailguardian/mailguardian/bin/gunicorn --log-level info --workers 4 --bind unix:/run/mailguardian.sock mailguardian.wsgi:application

[Install]
WantedBy=multi-user.target