{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mailware</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    </head>
    <body class="font-sans bg-grey-lighter">
        <div id="app">
            <mailware-navigation></mailware-navigation>
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'js/app.js' %}" defer></script>
    </body>
</html>